<h1>Restaurants</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li id="restaurant-<%= restaurant.id %>">
      <%= link_to restaurant.name, restaurant_path(restaurant) %>
      <%= link_to restaurant_path(restaurant), remote: true, method: :delete  do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </li>
  <% end %>
</ul>
